@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #021526;
  color: #fff;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

/* Hide scrollbar for Webkit (Chrome, Safari) */
#scroll_bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
#scroll_bar {
  scrollbar-width: none;
}

/* hover:blur-sm */
.random_class:hover random_class_cards:not(:hover){

}